body {
  background-image:url('/src/images/kitchen-background.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 80%; /* change these for mobile aka media queries */
}

html {
  height: 100%;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.toast {
  margin: 0 auto;
}

.bottom {
  margin-bottom: 30px;
}

.searchAndButtonSpace
{
  margin-bottom: 30px;
}

.staatliches{
  font-family: 'Staatliches';
}

.oswald{
  font-family: 'Oswald', sans-serif;
}

.search-btn {
  font-size: 30px;
  background-color: orange;
  color: white;
  border: 3px solid darkorange;
  cursor: pointer;
}

.search-btn:hover{
  background-color:darkorange ;
  border: 3px solid darkorange;
}

.bottom-card{
  margin-bottom: -1%;
}

.align-right {
  text-align: right;
}

.filter-no
{
  color: #f7f7f7;
}

.right{
  max-width: '100%' ;
}

.left{
  max-width: '100%' ;
  background-color: #f7f7f7;
}

.testest {
position: absolute;
}

.stickyicky {
position: sticky;
 top: 0;
}

.side {
  width: 16%;
  left: 0%;
}

.results-card-size {
  margin-top: 3%;
  width: 90%;
  height: 60%;
}

.whitetext
{
  color: white;
}

.this-is-a-margin {
  margin-top: -20%; 
}

.w3-sidebar
{
  height:100%;
  width:200px;
  background-color:#fff;
  position:fixed!important;
  z-index:1;
  overflow:auto;
}

.w3-sidebar.w3-collapse {
  display:block!important;
}

.w3-sidebar.w3-collapse {
  display:none;
}


@font-face {
  src: url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
  src: url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
}
