body {
  background-image:url('https://firebasestorage.googleapis.com/v0/b/ingredientory.appspot.com/o/kitchen-background.jpg?alt=media&token=f861bd13-fe8f-4901-b2b3-0f09f4c60958');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 80%; /* change these for mobile aka media queries */
}

html {
  height: 100%;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.toast {
  margin: 0 auto;
}

.bottom {
  margin-bottom: 30px;
}

.searchAndButtonSpace
{
  margin-bottom: 30px;
}

.staatliches{
  font-family: 'Staatliches';
}

.oswald{
  font-family: 'Oswald', sans-serif;
}

/* search button */
.search-btn {
  font-size: 30px;
  background-color: orange;
  color: white;
  border: 3px solid darkorange;
  cursor: pointer;
}

.search-btn:hover{
  background-color:darkorange ;
  border: 3px solid darkorange;
}

.bottom-card{
  margin-bottom: -1%;
}

.align-right {
  text-align: right;
}

.filter-no
{
  color: #f7f7f7;
}

.right{
  max-width: '100%' ;
}

.left{
  max-width: '100%' ;
  background-color: #f7f7f7;
}

.testest {
position: absolute;
}

.top-padding {
  padding-top: 20px;
}

.stickyicky {
position: sticky;
 top: 0;
}

.side {
  width: 16%;
  left: 0%;
}

/*
.results-card-size {
  margin-top: 3%;
  width: 90%;
  height: 60%;
}
*/

.whitetext
{
  color: white;
}

.red {
  background-color:red;
}

.yellow {
  background-color: #F7F7F7
}


.gray {
  background-color: gray
}


.blue {
  background-color: blue
}

.no_margin {
  margin: 0, 0;
}

.sidebar
{
  height:100%;
  z-index:1;
  overflow:auto;
}

.sort-btn{
  font-size: 30px;
}

.filter-font{
  font-family: Staatliches;
  font-size: 25px;
}


@font-face {
  src: url('https://fonts.googleapis.com/css?family=Staatliches&display=swap' );
  src: url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
}
